@use '@/assets/mixins/class-generator.scss' as cg;

$direction: (
  'column': column,
  'column-reverse': column-reverse,
  'row': row,
  'row-reverse': row-reverse
);

$justify: (
  'start': start,
  'center': center,
  'between': space-between,
  'around': space-around,
  'evenly': space-evenly,
  'end': flex-end
);

$wrap: (
  'wrap': wrap,
  'wrap-reverse': wrap-reverse,
  'nowrap': nowrap
);

$align: (
  'start': start,
  'center': center,
  'between': end,
  'stretch': stretch
);

$display: (
  'block': block,
  'inline-block': inline-block,
  'none': none,
  'flex': flex,
  'grid': grid
);

$grow: (
  '1': 1,
  '0': 0
);

.flex {
  display: flex;
  @include cg.class-generator($list: $direction, $attribute: 'flex-direction');
  @include cg.class-generator($list: $wrap, $attribute: 'flex-wrap');
}

.justify {
  @include cg.class-generator($list: $justify, $attribute: 'justify-content');
}

.align {
  @include cg.class-generator($list: $align, $attribute: 'align-items');
}

.content {
  @include cg.class-generator($list: $align, $attribute: 'align-content');
}

.grow {
  @include cg.class-generator($list: $grow, $attribute: 'flex-grow');
}

.display {
  @include cg.class-generator($list: $display, $attribute: 'display');
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.static {
  position: static;
}

//TODO

.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.gap-1 {
  gap: 1rem;
}
