@use '@/assets/variables/typography.scss' as t;
@use '@/assets/mixins/class-generator.scss' as cg;
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

$font-sizes: (
  'size-xs': t.$xs,
  'size-sm': t.$sm,
  'size-md': t.$md,
  'size-lg': t.$lg,
  'size-xl': t.$xl
);

$font-weights: (
  'weight-s': t.$thin,
  'weight-md': t.$medium,
  'weight-sb': t.$semibold,
  'weight-b': t.$bold
);

$align: (
  'left': left,
  'right': right,
  'center': center
);

.text {
  font-weight: t.$regular;
  @include cg.class-generator($list: $font-sizes, $attribute: 'font-size');
  @include cg.class-generator($list: $font-weights, $attribute: 'font-weight');
  @include cg.class-generator($list: $align, $attribute: 'text-align');
}
